*{
  font-family: 'PT Serif', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
}

body{
  background-color: #353535 ;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #3a3a3a;
  border-radius: 0 0 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.navbar a{
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  transition: color 0.3s ease;

}
.navbar .logo{
  font-size: 2rem;
  color: antiquewhite;
}

.navbar a:hover{
  color: #0a0803;
}

.navbar ul{
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar button{
  display: none;
}